---
// src/pages/soins/dents-de-sagesse.astro
import SoinLayout from "../../layouts/SoinLayout.astro";
---

<SoinLayout
  title="Dents de sagesse"
  description="Extraction préventive des dents de sagesse au Cabinet Dentaire du Dr LEBERT."
>
  <p>
    L'extraction des dents de sagesse est souvent préconisée en cas de manque de place au sein de la
    mâchoire. Il est conseillé de consulter en prévention, car la non-extraction peut entraîner des
    déplacements dentaires et des problèmes d'occlusion.
  </p>
</SoinLayout>
